body {
    background-color: #f8f4fc;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    margin-top: 20px;
}

.left, .center, .right {
    font-size: 20px;
}

.left {
    font-weight: 100px;
    color: #2c5483;
}

.center {
    font-weight: bold;
    margin-right: 50px;
}


#time {
    
    margin-top: 20px;
    font-size: 13px;
    margin-left: 15vh;
    font-weight: 600;
    color: gray;
}
